<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Regno</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Year</th>
      <th>Department</th>
      <th>Tenth</th>
      <th>Twelfth</th>
      <th>Cgpa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.regno %></td>
        <td><%= student.dob %></td>
        <td><%= student.gender %></td>
        <td><%= student.address %></td>
        <td><%= student.mobile %></td>
        <td><%= student.email %></td>
        <td><%= student.year %></td>
        <td><%= student.department_id %></td>
        <td><%= student.tenth %></td>
        <td><%= student.twelfth %></td>
        <td><%= student.cgpa %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
