<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Regno:</strong>
  <%= @student.regno %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Department:</strong>
  <%= @student.department_id %>
</p>

<p>
  <strong>Tenth:</strong>
  <%= @student.tenth %>
</p>

<p>
  <strong>Twelfth:</strong>
  <%= @student.twelfth %>
</p>

<p>
  <strong>Cgpa:</strong>
  <%= @student.cgpa %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
