<!DOCTYPE html>
<html>
<head>
  <title>Placement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if admin_signed_in? %>
<%= render 'shared/navbar' %>

<% else %>

<% end %>
<%= yield %>

</body>
</html>
